.Logo {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;

  img {
    width: auto;
    height: 100%;
    margin-right: 5px;
  }

  span {
    display: none;

    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;


    @media screen and (min-width: 768px) {
      display: inline;
    }
  }
}
