@import 'src/scss/main';

.UserHeader {
  @include flexbox(center);
  height: 5.6rem;
  padding: 0 1.6rem;
  background-color: $bg-primaryHarmonies;

  p {
    margin-left: 16px;
    margin-bottom: 0;

    color: $txt-headerDrawer;
    font-size: $fs-headerDrawerHeader;
    font-weight: 600;
  }
}

.UserSection {
  &__Wrapper {
    padding: 0 1.6rem;

    :global(.ant-divider) {
      margin: 0.8rem 0;
      border-top-color: $bg-divider;
    }
  }

  &__Heading {
    color: $txt-headerDrawer;
    font-size: $fs-headerDrawerHeading;
    font-weight: 600;
  }

  &__Navlink {
    display: block;
    padding: 0.8rem 0;

    color: $txt-headerLink;
    font-size: $fs-headerDrawerLink;
    font-weight: 600;

    &:hover {
      color: $txt-headerLink;
    }
  }
}
