.UserHeader {
  display: flex;
  align-items: center;
  padding: 16px;
  background-color: #424c6e;

  p {
    margin-left: 16px;
    margin-bottom: 0;

    color: antiquewhite;
    font-size: 16px;
  }
}

.UserSection {
  &__Wrapper {
    padding: 0 16px;

    :global(.ant-divider) {
      margin: 8px 0;
      border-top-color: grey;
    }
  }

  &__Heading {
    color: antiquewhite;
    font-size: 14px;
    font-weight: bold;
  }

  &__Navlink {
    display: block;
    padding: 8px 0;

    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 600;

    &:hover {
      color: white;
    }
  }
}
