.ant-drawer-left .ant-drawer-body {
  background-color: #303956;
  padding: 0;
}

[ant-click-animating-without-extra-node]:after {
  animation: 0s !important;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: unset;

  .ant-spin-dot {
    @include fixed(top 50% left 50%);
  }
}

.ant-btn {
  height: unset;

  &.kc-primary {
    background-color: $amber;
    color: $tundora;

    border: $ruby;
    border-radius: 4px;
    padding: 0.8rem 1.6rem;

    font-weight: 500;

    &:hover {
      background-color: $bright-sun;
    }
  }
}

.sideMenu {
  @include screen(lg) {
    display: none;
  }
}
