.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 15px;

  background-color: #303956;
  color: #c1c4cd;
}

.Logo {
  height: 60%;
  margin-right: auto;
  margin-left: 20px;
}

.IconLink {
  color: #c1c4cd;
}
