.Header {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 15px;

  background-color: #303956;
  color: #c1c4cd;

  &__OverlayDropdown {
    border: 1px solid rgba($color: lightgrey, $alpha: 0.5);

    :global(.ant-dropdown-menu-item) {
      white-space: normal;
      cursor: unset;

      &:hover {
        background-color: transparent;
      }

      a {
        white-space: nowrap;
        padding: 8px 16px;
        color: gray;

        &:hover {
          color: #303956;
        }
      }
    }
  }

  &__SearchModal {
    top: 0;
    left: 0;
    right: 0;

    min-width: 100%;
    margin: 0;

    :global(.ant-modal-content) {
      border-radius: 0;
    }

    :global(.ant-modal-body) {
      display: flex;
      align-items: center;

      height: 65px;
      padding: 0;
    }
  }
}

.Right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.Logo {
  height: 70%;
  margin-left: 20px;

  @media screen and (min-width: 768px) {
    height: 80%;
    margin-left: 0;
  }
}

.IconLink {
  width: 33px;
  height: 33px;
  transition: all 0.3s !important;
}

.IconLink svg,
.Link span {
  font-weight: bold;
  color: #c1c4cd;

  &:hover,
  &:active,
  &:visited {
    color: #ffffff;
  }
}
