$Colors: (
  'black': #000000,
  'tundora': #4a4a4a,
  'havelock-blue': #5290de,
  'mariner': #307ad8,
  'pickled-bluewood': #303956,
  'east-bay': #4a5781,
  'river-bed': #464c62,
  'blue-charcoal': #272c33,
  'white': #ffffff,
  'catskill-white': #f5f7fa,
  'mercury': #e9e9e9,
  'iron': #d0d3d9,
  'dusty-gray': #9b9b9b,
  'rolling-stone': #757c84,
  'dove-gray': #6f6f6f,
  'amber': #ffbf00,
  'bright-sun': #ffce3d,
  'champagne': #faebd7,
  'chateau-green': #48a868,
  'silver-tree': #66b27f,
);

//--------- BACKGROUND COLORS ---------
$bgColors: (
  // --------------------------------------
  'primary': c('pickled-bluewood'),
  'primary-light': c('east-bay'),
  'primary-dark': c('river-bed'),
  'primary-darker': c('blue-charcoal'),
  // --------------------------------------
  'secondary': c('catskill-white'),
  'secondary-light': c('mercury'),
  'secondary-lighter': c('iron'),
  'secondary-dark': c('dusty-gray'),
  'secondary-darker': c('rolling-stone'),
  // --------------------------------------
  'white': c('white'),
  'black': c('black'),
  'champagne': c('champagne'),
  // --------------------------------------
  'button-primary': c('amber'),
  'button-primary--hover': c('bright-sun'),
  // --------------------------------------
  'button-secondary': c('havelock-blue'),
  'button-secondary--hover': c('mariner'),
  // --------------------------------------
  'valid': c('chateau-green'),
  'valid-hover': c('silver-tree'),
  // --------------------------------------
);

//--------- TEXT COLORS ---------
$txtColors: (
  // --------------------------------------
  'primary': c('amber'),
  'primary-light': c('champagne'),
  // --------------------------------------
  'secondary-light': c('havelock-blue'),
  'secondary': c('pickled-bluewood'),
  'secondary-dark': c('dove-gray'),
  'secondary-darker': c('rolling-stone'),
  // --------------------------------------
  'button': c('tundora'),
  'link': c('iron'),
  'placeholder': c('dusty-gray'),
  'valid': c('chateau-green'),
  // --------------------------------------
  'white': c('white'),
  'black': c('black')
);

$txt-white: tc('white');
$txt-placeholder: tc('placeholder');

//--------- FONT SIZE ---------
$fnSizes: (
  'h1': 5.6rem,
  'form-title': 3.6rem,
  'h2': 2.7rem,
  'h3': 2.4rem,
  'h4': 2rem,
  'h5': 1.8rem,
  'h6': 1.6rem,
  'title': 1.5rem,
  'subtitle1': 1.4rem,
  'subtitle2': 1.3rem,
  'body': 1.2rem,
  'body2': 1.1rem,
  'small': 1rem,
  'button': 1.3rem,
  'button-lg': 2rem,
  'link': 1.3rem,
  'link-sm': 1.2rem,
  'icon': 1.7rem,
);

//---------BREAKPOINT---------
$breakpoints: (
  'xl': (
    min-width: 1200px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'md': (
    min-width: 768px,
  ),
  'sm': (
    min-width: 576px,
  ),
);

//---------Z-Indexes---------

$z-indexes: (
  'AuthLogo',
  'AuthPanel',
  'AuthBall',
  'AuthForm',
  'AuthSignin',
  'AuthLeftCover',
  'AuthForm'
);

//---------------------------
