$black: #000000;
$tundora: #4a4a4a;
$havelock-blue: #5290de;
$mariner: #307ad8;
$pickled-bluewood: #303956;
$east-bay: #4a5781;
$river-bed: #464c62;
$blue-charcoal: #272c33;
$white: #ffffff;
$catskill-white: #f5f7fa;
$mercury: #e9e9e9;
$iron: #d0d3d9;
$dusty-gray: #9b9b9b;
$rolling-stone: #757c84;
$dove-gray: #6f6f6f;
$ruby: #e0115f;
$amber: #ffbf00;
$bright-sun: #ffce3d;
$champagne: #faebd7;
$chateau-green: #48a868;
$silver-tree: #66b27f;

//--------- BACKGROUND COLORS ---------
$bgColors: (
  // --------------------------------------
  'primary': $pickled-bluewood,
  'primary-light': $east-bay,
  'primary-dark': $river-bed,
  'primary-darker': $blue-charcoal,
  // --------------------------------------
  'secondary': $catskill-white,
  'secondary-light': $mercury,
  'secondary-lighter': $iron,
  'secondary-dark': $dusty-gray,
  'secondary-darker': $rolling-stone,
  // --------------------------------------
  'white': $white,
  'black': $black,
  'champagne': $champagne,
  // --------------------------------------
  'button-primary': $amber,
  'button-primary--hover': $bright-sun,
  // --------------------------------------
  'button-secondary': $havelock-blue,
  'button-secondary--hover': $mariner,
  // --------------------------------------
  'valid': $chateau-green,
  'valid-hover': $silver-tree,
  // --------------------------------------
);

//--------- TEXT COLORS ---------
$txtColors: (
  // --------------------------------------
  'primary': $amber,
  'primary-light': $champagne,
  // --------------------------------------
  'secondary-light': $havelock-blue,
  'secondary': $pickled-bluewood,
  'secondary-dark': $dove-gray,
  'secondary-darker': $rolling-stone,
  // --------------------------------------
  'button': $tundora,
  'link': $iron,
  'placeholder': $dusty-gray,
  'valid': $chateau-green,
  // --------------------------------------
  'white': $white,
  'black': $black,
  // --------------------------------------
  'danger': $ruby
);

//--------- FONT SIZE ---------
$fnSizes: (
  'h1': 5.6rem,
  'form-title': 3.6rem,
  'h2': 2.7rem,
  'h3': 2.4rem,
  'h4': 2rem,
  'h5': 1.8rem,
  'h6': 1.6rem,
  'title': 1.5rem,
  'subtitle1': 1.4rem,
  'subtitle2': 1.3rem,
  'body': 1.2rem,
  'body2': 1.1rem,
  'small': 1rem,
  'button': 1.3rem,
  'button-lg': 2rem,
  'link': 1.3rem,
  'link-sm': 1.2rem,
  'icon': 1.7rem,
);

$fnSizes-a: (
  'h1': 7rem,
  'h2': 6rem,
  'h3': 4.4rem,
  'h4': 3.6rem,
  'h5': 3.4rem,
  'h6': 3.1rem,
  'h7': 2.8rem,
  'title1': 2.5rem,
  'title2': 2.4rem,
  'title3': 2.2rem,
  'title4': 2rem,
  'title5': 1.9rem,
  'title6': 1.8rem,
  'title7': 1.7rem,
  'subtitle1': 1.6rem,
  'subtitle2': 1.5rem,
  'subtitle3': 1.4rem,
  'body1': 1.3rem,
  'body2': 1.2rem,
  'body3': 1.1rem,
);

//---------BREAKPOINT---------
$breakpoints: (
  'xl': (
    min-width: 1200px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'md': (
    min-width: 768px,
  ),
  'sm': (
    min-width: 576px,
  ),
);

//---------Z-Indexes---------

$z-indexes: (
  'AuthLogo',
  'AuthPanel',
  'AuthBall',
  'AuthForm',
  'AuthSignin',
  'AuthLeftCover',
  'AuthForm'
);

//---------------------------
