@import 'src/scss/main';

.AuthLayout {
  @include flexCenter();
  @include size(100vw, calc(100vh - 5.6rem));

  overflow: hidden;
  background: url(../../assets/img/auth-m.jpg) no-repeat;
  background-size: cover;

  &__Content {
    width: 100%;

    @include screen(md) {
      width: 65%;
    }

    @include screen(lg) {
      @include flexCenter();
      @include size(45%, 100%);
    }
  }

  @include screen(lg) {
    @include size(100vw, calc(100vh - 6.4rem));
    background: none;
    background-color: $bg-authContainer;

    &__LeftCover {
      @include size(55%, 100%);
      background: url(../../assets/img/auth-left-cover.jpg) no-repeat;
      background-size: cover;

      z-index: z('AuthLeftCover');
    }
  }
}
