@import 'src/scss/main';

.Courses {
  background-color: $bg-courses;
  padding: 1rem 2rem 2rem;

  @include screen(lg) {
    padding: 3rem 5% 4rem;
  }

  @include screen(xl) {
    padding: 5rem 10% 2rem;
  }

  &__Title {
    @include flexCenter();
    @include font-size($fs-coursesTitle, 12);

    margin-bottom: 2rem;

    font-weight: 500;
    color: $txt-coursesTitle;

    &::after {
      content: '';
      border-top: 0.1rem solid $bg-coursesStrike;
      margin-left: 0.6rem;
      flex: 1 0;
    }

    @include screen(lg) {
      margin-bottom: 2.4rem;
    }
    @include screen(xl) {
      margin-bottom: 3rem;
    }
  }

  &__Wrapper {
    @include screen(lg) {
      position: relative;

      :global(.slick-slide) > div {
        @include flexCenter();
      }
    }
  }

  &__PrevBtn,
  &__NextBtn {
    display: none;

    @include screen(lg) {
      @include flexCenter();
      @include size(5.5rem);
      @include font-size($fs-coursesCarouselBtn);

      border-radius: 50%;
      background-color: $bg-coursesCarouselBtn;
      color: $txt-courseCarouselBtn;

      cursor: pointer;

      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0 0 0.8rem -0.4rem $bg-courseShadow;
        background-color: $bg-coursesCarouselBtn-hover;
        color: $txt-courseCarouselBtn-hover;
      }
    }
  }

  &__PrevBtn {
    @include screen(lg) {
      @include absolute(left 0 top 48%, $transY: -50%, $transX: -55%);
    }
  }

  &__NextBtn {
    @include screen(lg) {
      @include absolute(right 0 top 48%, $transY: -50%, $transX: 55%);
    }
  }
}
