@import 'src/scss/main';
.AutoCompleteSearch {
  width: 100%;

  @include screen(lg) {
    input {
      padding-left: 2rem;
      border-radius: 2rem;
    }

    :global(.ant-input-search)
      > :global(.ant-input-group)
      > :global(.ant-input-group-addon) {
      border-radius: 0 2rem 2rem 0;

      :global(.ant-input-search-button) {
        border-radius: 0 2rem 2rem 0;
      }
    }
  }

  @include screen(xl) {
    width: 60%;
  }

  :global(.ant-btn-primary) {
    @include size(5.6rem);
    background-color: $bg-headerSearchButton;
    padding: 0;
    border: none;

    color: $txt-placeholder;

    &:hover {
      background-color: transparent;
    }

    @include screen(lg) {
      @include size(4rem);

      &:hover {
        background-color: $bg-headerDrawerButton;
        color: $txt-headerBtn;
      }
    }
  }

  :global(.ant-btn-primary),
  :global(.ant-btn) {
    box-shadow: none;
  }

  :global(.ant-input-group) :global(.ant-input) {
    height: 5.6rem;
    border: none;
    box-shadow: none;

    @include screen(lg) {
      height: 4rem;
    }
  }
}
