.AutoCompleteSearch {
  width: 100%;
  :global(.ant-btn-primary) {
    background-color: #ffffff;
    border: none;

    color: #c1c4cd;
  }

  :global(.ant-btn-primary),
  :global(.ant-btn) {
    box-shadow: none;
  }

  :global(.ant-input-group) :global(.ant-input) {
    height: 40px;
    border: none;
    box-shadow: none;
  }
}
