@import 'src/scss/main';

.DropdownAvatar {
  @include size(3.8rem);
  border-radius: 50%;
  margin-left: 1.2rem;
}

.UserNav {
  width: 28rem;
  border-radius: 0.4rem;
  border: 0.1rem solid $bg-headerDropdownBorder;

  &__Wrapper:global(.ant-dropdown-menu-item) {
    @include flexbox(center);

    padding: 1.2rem 1.6rem 1.6rem;
  }

  &__Avatar {
    @include size(5.6rem);
    border-radius: 50%;

    margin-right: 1.6rem;
  }

  h4 {
    cursor: pointer;
    margin-bottom: 0;

    @include font-size($fs-headerMenuUser);
    font-weight: 700;
  }

  span {
    @include font-size($fs-headerMenuEmail);
  }

  :global(.ant-dropdown-menu-item-group-title) {
    border-top: 0.1rem solid $bg-headerDropdownBorder;
    padding: 0;
  }

  :global(.ant-dropdown-menu-item-group-list) {
    padding: 0.8rem 1.6rem;
    margin: 0;

    :global(.ant-dropdown-menu-item) {
      white-space: normal;
      cursor: unset;

      &:hover {
        background-color: transparent;
      }

      a {
        padding: 0.8rem 0;
        color: $txt-headerMenuLink;

        &:hover {
          color: $txt-headerMenuLink-hover;
        }
      }
    }
  }
}
