@import 'src/scss/main';

.IntroItem {
  @include flexbox(center);
  align-self: flex-start;
  padding: 1.2rem 0;

  @include screen(sm) {
    padding: 1.2rem 24%;
  }

  @include screen(md) {
    flex-basis: 50%;
    align-self: initial;
    padding: 0;
  }

  @include screen(lg) {
    flex-basis: (100% / 3);
  }

  @include screen(xl) {
    flex-basis: initial;
  }

  &__Icon {
    @include flexCenter();
    @include size(4rem, 4rem, min);

    margin-right: 1.2rem;
    border-radius: 50%;
    background-color: $bg-introIcon;

    color: $txt-white;

    & > span {
      @include font-size($fs-introIcon);
    }
    @include screen(md) {
      @include size(4.8rem, 4.8rem, min);
      margin-right: 1.4rem;
    }

    @include screen(lg) {
      @include size(5.2rem, 5.2rem, min);
      margin-right: 1.4rem;
    }

    @include screen(xl) {
      @include size(6.4rem, 6.4rem, min);
      margin-right: 1.6rem;
    }
  }

  &__Content {
    @include flexbox(null, center, column);
    p {
      margin-bottom: 0.5rem;

      @include font-size($fs-introItemTitle);
      color: $txt-introItemTitle;
      font-weight: 700;
      line-height: 1.2;
    }

    span {
      @include font-size($fs-introItemPretitle);
      color: $txt-introItemPretitle;
      line-height: 1.2;
    }
  }
}
