@import 'src/scss/main';
.Footer {
  background-color: $bg-primary;
  padding: 2rem;

  &__Top {
    order: 3;
  }

  &__Language {
    @include relative();
    @include flexbox(center);
    @include size(17rem, 3rem);
    border-radius: 0.4rem;
    background-color: $bg-white;
    padding: 0 0.8rem;

    font-size: $fs-footerLanguage-m;
    color: $txt-placeholder;

    @include screen(lg) {
      @include size(20rem, 3rem);
    }

    &Select:global(.ant-select) {
      @include absolute(left 0);

      font-size: $fs-footerLanguage-m;
      color: $txt-placeholder;

      &:global(.ant-select-single:not(.ant-select-customize-input))
        :global(.ant-select-selector) {
        @include flexbox(center);
        border: none;
        @include size(17rem, 3rem);

        padding: 0;
        padding-left: 3rem;

        @include screen(lg) {
          @include size(20rem, 3rem);
        }
        & :global(.ant-select-selection-item) {
          @include absolute(top 50%, $transY: -50%);
          line-height: 0.9;
          transition: 0;
        }
      }
    }

    &Dropdown:global(.ant-select-dropdown) {
      padding: 0;
      border-radius: 0.4rem;
      border: 0.1rem solid $bg-dropdownSelected;

      :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled)) {
        background-color: $bg-dropdownSelected;

        :global(.ant-select-item-option-content) {
          color: $txt-footerLanguageDropdown-selected;
        }
      }
    }

    &Dropdown :global(.ant-select-item-option-content) {
      font-size: $fs-footerLanguage-m;
      color: $txt-footerLanguageDropdown;
    }
  }

  &__Middle {
    margin-top: 2rem;
    margin-bottom: 1.7rem;
    @include screen(md) {
      order: 1;

      margin-top: 0;
    }
  }

  &__Title {
    margin-bottom: 1rem;

    @include font-size($fs-footerTitle, 3);
    font-weight: 600;
    line-height: 1.4;
    color: $txt-footerTitle;
  }

  &__List {
    @include flexbox(null, null, column);
    @include font-size($fs-footerLink, 9);
    a {
      margin-bottom: 0.8rem;
    }
    a:hover {
      color: $txt-white;
    }
  }

  &__Form {
    display: flex;
    order: 2;

    transition: 0;
    :global(.ant-form-item) {
      margin-bottom: 1rem;

      :global(.ant-input) {
        border-radius: 0.4rem;
      }
    }

    :global(.ant-form-item-required) {
      @include font-size($fs-footerFormField);
      font-weight: 600;
      color: $txt-footerForm;
    }

    :global(.ant-checkbox-wrapper) {
      @include font-size($fs-footerFormControl);
      font-weight: 600;
      color: $txt-footerForm;
    }

    :global(.ant-btn-primary) {
      @include absolute(top 0 right 0);
      @include button-hover($bg-primaryBtn, $bg-primaryBtn-hover);
      @include font-size($fs-footerFormBtn, 9);

      border-radius: 3rem;
      border: none;
      width: 12rem;

      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.1rem;
      color: $txt-footerBtn;

      &:hover,
      &:focus {
        color: $txt-footerBtn;
      }

      @include screen(lg) {
        width: 13.3rem;
      }
    }
  }

  &__Bottom {
    div {
      margin-bottom: 1.5rem;
    }
    span {
      @include font-size($fs-footerCopyright);
      color: $txt-footerForm;
    }

    @include screen(md) {
      @include flexbox(center, space-between, null, null, 3);
      flex-basis: 100%;

      div {
        margin-bottom: 0;
      }
    }
  }

  @include screen(md) {
    @include flexbox(flex-start, space-between, row, wrap);
  }

  @include screen(lg) {
    padding: 3rem 5% 2rem;
  }

  @include screen(x-lg) {
    padding: 4rem 10% 3rem;
  }
}
