@import 'src/scss/main';

.UserWrapper {
  @include flexbox(null, null, column);

  padding: 1.6rem;
  background-color: $bg-primaryHarmonies;
}

.UserLink {
  margin: 0.8rem 0;

  color: $txt-white;
  font-size: $fs-headerDrawerHeader;
  font-weight: 600;
}

.ButtonWrapper {
  @include flexbox(center);

  & > :global(.ant-btn) {
    border: none;
    height: 3rem;
    border-radius: 0.4rem;
    padding: 0 2.4rem;

    @include headerLink-hover(9);

    &.SigninBtn {
      background-color: transparent;
      padding-left: 1.2rem;
      padding-right: 2.4rem;
    }

    &.SignupBtn {
      @include button-hover($bg-primaryBtn, $bg-primaryBtn-hover);
      color: $txt-headerBtn;
    }
  }
}
