@import 'src/scss/main';

.Info {
  @include flexbox(center, null, column);
  @include background-color($bg-intro);
  padding: 2rem 2rem 1rem;

  &__Item {
    @include flexbox(center);
    align-self: flex-start;
  }

  &__Icon {
    @include flexCenter();
    @include size(4rem);

    margin-right: 1.2rem;
    border-radius: 50%;
    background-color: $bg-primaryBtn;

    color: $txt-white;
  }

  &__Content {
    p {
      margin-bottom: 0.5rem;
    }
  }
}
