@import 'src/scss/main';
.Hero {
  &__BgImage {
    height: 18rem;
    background: url('../../../assets/img/hero.jpg') no-repeat;
    background-size: cover;

    @include screen(sm) {
      height: 20rem;
      background-position-y: -8rem;
    }

    @include screen(md) {
      height: 24rem;
    }
  }

  &__SloganWrapper {
    padding: 2rem;
    background-color: $bg-hero;

    @include screen(md) {
      padding: 2.4rem 2rem;
    }

    @include screen(lg) {
      padding: 8rem 5%;
      background: url('../../../assets/img/hero-overlay.jpg') no-repeat top
        center;
      background-size: cover;
    }

    @include screen(xl) {
      padding: 8rem 10% 10rem;
    }
  }

  &__SloganMain,
  &__SloganSub {
    p {
      color: $txt-heroTitle-secondary;
      margin-bottom: 0;
    }
    span {
      color: $txt-heroTitle-primary;
    }
  }

  &__SloganMain {
    @include font-size($fs-heroTitle);
    font-weight: 700;

    margin-bottom: 0.5rem;
  }

  &__SloganSub {
    @include font-size($fs-heroSubtitle);
    font-weight: 500;

    margin-bottom: 1rem;

    @include screen(lg) {
      margin-bottom: 2.5rem;
    }
  }

  &__SloganButton:global(.ant-btn) {
    @include button-hover($bg-heroButton, $bg-headerButton-hover);
    height: auto;
    padding: 0.9rem 1.8rem;
    border-radius: 0.4rem;

    @include font-size($fs-heroButton, 9);
    line-height: 1.2;
    color: $txt-heroBtn;
    font-weight: 700;

    @include screen(lg) {
      padding: 1.6rem 3.2rem;
      border-radius: 0.6rem;
    }

    &:hover,
    &:focus,
    &:visited {
      color: inherit;
    }
  }
}
