@import 'src/scss/main';

.DrawerToggler {
  width: 2rem;

  div {
    height: 0.2rem;
    background-color: $bg-headerDrawerButton;

    &:nth-child(2) {
      width: 60%;
      margin: 0.4rem 0;
    }
  }
}
