@import '../../scss/main';

.Account {
  @include flexbox(center, center, column);
  padding: 2rem;

  &__Nav {
    width: 100%;
  }

  &__UserAvatar {
    position: relative;
    margin: 0 auto;

    @include size(10rem);
    border-radius: 50%;
    background-color: gray;

    text-align: center;

    span {
      @include centerAbsolute();
      @include font-size($fs-accountUserAvatar);
      color: $txt-accountUserAvatar;
      font-weight: 500;
    }
  }

  &__Username {
    text-align: center;
    margin-top: 2rem;

    h2 {
      @include font-size($fs-accountUsername);
    }
  }

  &__NavList {
    list-style: none;
  }
}
