@import 'src/scss/main';

.Courses {
  background-color: $bg-courses;
  padding: 1rem 2rem 2rem;

  @include screen(lg) {
    padding: 3rem 5% 4rem;
  }

  &__Title {
    @include flexCenter();
    @include font-size($fs-coursesTitle, 12);

    margin-bottom: 2rem;

    font-weight: 500;
    color: $txt-coursesTitle;

    &::after {
      content: '';
      border-top: 0.1rem solid $bg-coursesStrike;
      margin-left: 0.6rem;
      flex: 1 0;
    }
  }

  &__Content {
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(999, 1fr);
    grid-template-rows: 24rem;
    gap: 2rem;

    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include screen(lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 21.1rem;
      gap: 2.5rem;
      justify-items: center;
    }
  }

  &__Loading {
    @include flexCenter();
  }
}
