@import 'src/scss/main';

.Courses {
  background-color: $bg-courses;
  padding: 1rem 2rem 4rem;

  &__Title {
    @include flexCenter();
    @include font-size($fs-coursesTitle, 12);

    margin-bottom: 2rem;

    font-weight: 500;
    color: $txt-coursesTitle;

    &::after {
      content: '';
      border-top: 0.1rem solid $bg-coursesStrike;
      margin-left: 0.6rem;
      flex: 1 0;
    }
  }

  &__Content {
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: 20rem;
    gap: 2rem;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
