@import './scss/main';
@import './scss/2-Base/reset';
@import './scss/2-Base/antd-custom';

.onDesktop,
.onDesktop-md {
  display: none;
}

@include screen(lg) {
  .onMobile {
    display: none;
  }

  .onDesktop {
    display: initial;
  }
}

@include screen(md) {
  .onMobile-md {
    display: none;
  }

  .onDesktop-md {
    display: initial;
  }
}
