@import 'src/scss/main';

.UserWrapper {
  @include flexbox(center, space-between);
  padding: 1.6rem;
  background-color: $bg-primaryHarmonies;
}

.UserMenuDrawer {
  position: absolute;
}

.UserBtn {
  margin: 0.8rem 0;

  color: $txt-white;
  font-size: $fs-headerDrawerHeader;
  font-weight: 600;
}

.UserAvatar {
  @include size(5rem);
  border-radius: 50%;
}

.UserWelcome {
  width: calc(100% - 8.6rem);
  margin: 0 0.8rem 0 1.6rem;

  color: $txt-white;
  font-size: $fs-headerDrawerHeading;

  h4 {
    margin-bottom: 0;

    color: $txt-white;
    font-size: $fs-headerDrawerHeader;
    font-weight: 600;
  }
}
