@mixin headerLink-hover($letter-spacing: 0) {
  @include font-size($fs-headerLink, $letter-spacing);
  color: $txt-white;

  &:hover,
  &:active,
  &:visited {
    color: $txt-headerLink-hover;
  }

  @include screen(lg) {
    color: $txt-headerLink;
    text-transform: uppercase;
    font-weight: bold;
  }
}
