/* ---------------- VARIABLE ---------------- */
/*________ Header ________*/
/*Background*/
$bg-header: bc('primary');
$bg-headerDrawerButton: bc('white');
$bg-headerUserMenu: bc('primary-light');
$bg-headerUserMenuDivider: bc('secondary-dark');
$bg-headerDropdownBorder: bc('secondary-light');
$bg-headerSearchButton: bc('white');
$bg-headerButton: bc('button-primary');
$bg-headerButton-hover: bc('button-primary--hover');

/*Text colors*/
$txt-headerMenuLink: tc('secondary-dark');
$txt-headerMenuLink-hover: tc('secondary');
$txt-headerMenuIcon: tc('white');
$txt-headerMenuWelcome: tc('white');
$txt-headerLink: tc('link');
$txt-headerLink-hover: tc('white');
$txt-headerBtn: tc('button');
$txt-headerDrawer: tc('primary-light');
$txt-headerSearch: tc('placeholder');

/*Font size*/
$fs-headerLink: (
  base: fsa('subtitle1'),
  lg: fsa('body2'),
);
$fs-headerMenuUser: (
  base: fsa('subtitle3'),
);
$fs-headerMenuEmail: (
  base: fsa('body2'),
);
$fs-headerUserMenuTitle: (
  base: fsa('subtitle1'),
);
$fs-headerUserMenuHeading: (
  base: fsa('subtitle3'),
);

/*________ Footer ________*/
/*Background*/
$bg-footer: bc('primary');
$bg-footerLanguage: bc('white');
$bg-footerDropdownSelected: bc('secondary-light');
$bg-footerFormButton: bc('button-primary');
$bg-footerFormButton-hover: bc('button-primary--hover');

/*Text colors*/
$txt-footerTitle: tc('white');
$txt-footerLink: tc('link');
$txt-footerLink-hover: tc('white');
$txt-footerForm: tc('white');
$txt-footerBtn: tc('button');
$txt-footerLanguage: tc('placeholder');
$txt-footerLanguageDropdown: tc('secondary-dark');
$txt-footerLanguageDropdown-selected: tc('button');

/*Font size*/
$fs-footerLink: (
  base: fsa('subtitle3'),
  lg: fsa('subtitle1'),
);
$fs-footerFormField: (
  base: fsa('subtitle1'),
);
$fs-footerFormControl: (
  base: fsa('body2'),
  lg: fsa('subtitle3'),
);
$fs-footerLanguage: (
  base: fsa('body1'),
  lg: fsa('subtitle2'),
);
$fs-footerCopyright: (
  base: fsa('body2'),
  lg: fsa('body1'),
);
$fs-footerTitle: (
  base: fsa('title4'),
  lg: fsa('title2'),
);
/* ---------------- END VARIABLE ---------------- */

/* ---------------- MIXIN ---------------- */
@mixin headerLink-hover($letter-spacing: 0) {
  @include font-size($fs-headerLink, $letter-spacing);
  color: $txt-headerLink-hover;

  &:hover,
  &:active,
  &:focus {
    color: $txt-headerLink-hover;
  }

  @include screen(lg) {
    color: $txt-headerLink;
    text-transform: uppercase;
    font-weight: 700;
  }
}
/* ---------------- END MIXIN ---------------- */
