/* -------------------- VARIABLE -------------------- */
/*________ Auth ________*/
/*Background*/
$bg-authContainer: bc('white');
$bg-authContainer-shadow: bc('black');

$bg-authInputField: bc('secondary-light');
$bg-authField-valid: bc('valid');
$bg-authField-active: bc('button-secondary');
$bg-authField-active--hover: bc('button-secondary--hover');

$bg-authFormControl: bc('button-primary');

$bg-authBall-l: bc('button-primary');
$bg-authBall-r: bc('champagne');

$bg-authSubmitBtn: bc('button-primary');
$bg-authSubmitBtn-hover: bc('button-primary--hover');
$bg-authPanelBtn: bc('primary');

$bg-authSocialIcon: bc('secondary-dark');
$bg-authSocialIcon-hover: bc('button-primary');

/*Text colors*/
$txt-authTitle: tc('secondary-dark');

$txt-authField-placeholder: tc('placeholder');
$txt-authField-valid: tc('valid');

$txt-authSubmitBtn: tc('white');

$txt-authSocialIcon: tc('button');
$txt-authSocialIcon-hover: tc('primary');

$txt-authToSignup-link: tc('secondary-light');

/*Font size*/
$fs-authTitle: (
  base: fs('form-title'),
);

$fs-authControl: (
  base: fs('body'),
  lg: fs('h6'),
);

$fs-authPrefixIcon: (
  base: fs('h5'),
);

$fs-authInputField: (
  base: fs('h6'),
  lg: fs('h5'),
);

$fs-authSocialText: (
  base: fs('h5'),
);

$fs-authSocialIcon: (
  base: fs('h4'),
);

$fs-authPanelTitle: (
  base: fs('h4'),
  lg: fs('h3'),
);

$fs-authPanelQuote: (
  base: fs('body'),
  lg: fs('title'),
);

$fs-authPanelBtn: (
  base: fs('body2'),
  lg: fs('subtitle2'),
);
/*Keyframes*/

/* -------------------- END VARIABLE -------------------- */
